<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookself</title>
    <link rel="stylesheet" href="/static/styles.css"></head>
<body>
    <button type="button" id="users_list_button"><a href="/users_list">SHOW USERS</a></button>
    <button type="button" id="create_book_button"><a href="/books/create">CREATE BOOK</a></button>
    <button type="button" id="user_books_button"><a href="/user/books">USER BOOKS</a></button>
    <button type="button" id="profile_button"><a href="/profile">PROFILE</a></button>
</body>
</html>